<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>마이페이지</title>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
      rel="stylesheet"
    />

    <!-- Bulma, CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="mypage.css" />

    <!-- javascript -->
    <script defer type="module" src="mypage.js"></script>
  </head>

  <body>
    <header id="navbar"></header>

    <main>
      <div id="title-div">
        <h1>Wonderland</h1>
      </div>
      <div id="box-list">
        <div id="account-security" class="box box-color-01"><h1 class="title">내 정보 관리</h1></div>
        <div id="account-orders" class="box box-color-02"><h1 class="title">주문 조회</h1></div>
        <div class="box box-color-02"><h1 class="title">문의 내역</h1></div>
        <div class="box box-color-01"><h1 class="title">회원 탈퇴</h1></div>
      </div>
    </main>
  </body>
</html>
