<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderland</title>

  <!--css-->
  <link rel="stylesheet" href="../shopping/shopping.css">

  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
    rel="stylesheet" />

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />


  <!-- javascript -->
  <script src="../shopping/shopping.js"></script>

  <!--swiper-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>

<body>
  <div id="wrap">
    <div class="inner">
      <div class="shopping">
        <div class="info">
          <div class="thumnail">
            <img src="" alt="">
          </div>
          <div class="right">
            <p>태교용 도서</p>
            <ul>
              <li>작은별</li>
              <li>20,000</li>
              <li>작은 별이 여해을 떠나 꿈을 찾아가는 내용입니다.</li>
            </ul>
            <div class="buttons">
              <button class="get_bag">장바구니 추가하기</button>
              <button class="buy">바로 구매하기</button>
            </div>
          </div>
        </div>

        <div class="content">
          <h2><strong>상세설명</strong></h2>
          <div class="img">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>