<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderland</title>

  <!--css-->
  <link rel="stylesheet" href="../footer/footer.css">

  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
    rel="stylesheet" />

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />


  <!-- javascript -->
  <script src="../footer/footer.js"></script>

</head>

<body>

  <footer>
    <div class="wrap">
      <div class="inner">
        <div class="info">
          <ul>
            <li><a href="">회사소개 ｜</a></li>
            <li><a href="">이용약관 ｜</a></li>
            <li><a href="">개인정보 처리방침 ｜</a></li>
            <li><a href="">고객센터</a></li>
          </ul>
          <p>
            (주)원더랜드 ｜대표자명 : 엘리스 ｜사업자등록번호 : 101-01-0101 ｜통신판매업신고 : 서울강남-010<br>
          주소 : 서울특별시 강남구 선릉로 433,신관6층 ｜고객센터 : 3401-2173 (월~금 09:00 ~ 18:00, 토/일 공휴일 휴무) ｜ 이메일 : wonderland@elice.io <br>
          COPYRIGHT © WONDERLAND ALL RIGHTS RESERVED
          </p>
        </div>
      </div>
    </div>
  </footer>



</body>

</html>
