<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderland</title>

  <!--css-->
  <link rel="stylesheet" href="../index/index.css">

  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
    rel="stylesheet" />

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />


  <!-- javascript -->
  <script src="../index/index.js"></script>

  <!--swiper-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>

<body>
  <div id="main_contents">
    <div class="visual-wrap bgc01">
      <div class="swiper-container swiper-visual">
        <div id="mainBanner" class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="step" ">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=
                id="BNR_MST_IDX_2969" data-bnr_mst_tgt="S"
                data-bnr_mst_url=>
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <div class="swiper-slide">
            <div class="step" style="background-color:">
              <div class="inner bg01 main-banner swiper-lazy"
                data-background=""
                id="BNR_MST_IDX_2963" data-bnr_mst_tgt="S"
                data-bnr_mst_url="">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--//slide-->
          <script type="text/javascript">
            $(document).ready(function () {
              $("#mainBanner").find('.main-banner').css('cursor', 'pointer');
              $(document).on('click', '.main-banner', function () {
                var $this = $(this);
                var bnr_mst_tgt = $this.data('bnr_mst_tgt');
                var bnr_mst_url = $this.data('bnr_mst_url');

                if (typeof (bnr_mst_tgt) != 'undefined' && typeof (bnr_mst_url) != 'undefined') {
                  if (bnr_mst_tgt == 'N') {
                    window.open(bnr_mst_url);
                  } else if (bnr_mst_tgt == 'S') {
                    location.href = bnr_mst_url;
                  }
                }
              });
            });
          </script>
        </div>

        <div class="control_area">
          <div class="swiper-button-next next-btn"><span class="arrow"></span></div>
          <div class="swiper-button-prev prev-btn"><span class="arrow"></span></div>

          <div class="swiper-page-group">
            <div class="swiper-btn-play"><i class="ico-play"></i></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div><!--//visual-wrap-->

    <div class="second_bestseller">
      <div class="inner">
        <div class="text_area">
          <h2 class="title"> <strong>BEST</strong>SELLER</h2>
          <p class="sub_title">::before 원더랜드 북킷리스트, 베스트 샐러</p>
        </div>
        <div class="book_img">
          <ul>
            <li><a href="">
                <div class="circle_img_box"><img src="" alt=""></div>
              </a></li>
            <li><a href="">
                <div class="circle_img_box"><img src="" alt=""></div>
              </a></li>
            <li><a href="">
                <div class="circle_img_box"><img src="" alt=""></div>
              </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="third_newbook">
      <div class="title_box">
        <h2>새로 나온 책</h2>
      </div>
      <div class="banner_wrap">
        <div class="banner">
          <div class="banner_slider">
            <div class="slider multiple-items">
              <div class="slide-item">
                <a
                  href="">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit">
                        <p>아이들의 꿈을 키워주는 동화</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy=""
                        alt="7~9세 연령별 추천도서">
                    </div>
                    <div class="txt-box">
                      <p>7~9세 발달에 따른 연령별 추천도서</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a
                  href="">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit">
                        <p>4~6세 발달에 따른 연령별 추천도서</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy=""
                        alt="4~6세 발달에 따른 연령별 추천도서">
                    </div>
                    <div class="txt-box">
                      <p>4~6세 발달에 따른 연령별 추천도서</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit"">
                        <p>0~3세 발달에 따른 연령별 추천도서</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy=""
                        alt="0~3세 발달에 따른 연령별 추천도서">
                    </div>
                    <div class="txt-box">
                      <p>0~3세 발달에 따른 연령별 추천도서</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a
                  href="">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit">
                        <p>호기심과 궁금증이 넘치는 아이를 위해</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy=""
                        alt="호기심과 궁금증이 넘치는 아이를 위해">
                    </div>
                    <div class="txt-box">
                      <p>호기심과 궁금증이 넘치는 아이를 위한 도서 모음</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href=">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit">
                        <p>넌 꿈이 뭐니? 다양한 직업 관련 책 모음</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy=""
                        alt="넌 꿈이 뭐니? 다양한 직업 관련 책 모음">
                    </div>
                    <div class="txt-box">
                      <p>넌 꿈이 뭐니? 다양한 직업 관련 책 모음</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a
                  href="">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit">
                        <p>[TPO] 동물을 사랑하는 아이를 위한 자연탐구 책 모음</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="">
                    </div>
                    <div class="txt-box">
                      <p>동물을 사랑하는 아이를 위한 자연탐구 책 모음</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit">
                        <p>우리아이 자존감 만렙 만들기!</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy=""
                        alt="우리아이 자존감 만렙 만들기!">
                    </div>
                    <div class="txt-box">
                      <p>자존감 높은 아이로 성장할 수 있도록 도와주는 책 모음</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit">
                        <p>[TPO] 해외 수상작 컬렉션</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy=""
                        alt="[TPO] 해외 수상작 컬렉션">
                    </div>
                    <div class="txt-box">
                      <p>해외 유명 수상작 컬렉션</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href="">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit"">
                        <p>1000만 데이터로 본 4-7세 인기 키워드 '곤충'!</p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="">
                    </div>
                    <div class="txt-box">
                      <p>1000만 데이터로 본 4-7세 인기 키워드 '곤충'!</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="slide-item">
                <a href=">
                  <div class="step">
                    <div class="img-box">
                      <div class="tit"">
                        <p>1000만 건 데이터로 본 인기 키워드 '애완동물' </p>
                      </div>
                      <img class="slick-loading"
                        data-lazy="">
                    </div>
                    <div class="txt-box">
                      <p>1000만 건 데이터로 본 인기 키워드 '애완동물' </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="left shadow"></div>
          <div class="right shadow"></div> -->
        </div>
      </div>
    </div><!--//curation-->

    <div class="fourth_contetn">
      <div class="inner">
        <div class="fourth_img_box">
          <img src="" alt="">
        </div>
        <div class="fourth_img_box">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
</body>

</html>
