<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderland</title>

  <!--css-->
  <link rel="stylesheet" href="../product/product.css">

  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
    rel="stylesheet" />

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />


  <!-- javascript -->
  <script src="../product/product.js"></script>

  <!--swiper-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>

<body>
  <div id="wrap">
    <div class="inner">
      <div class="title">
        <h2>태교용 도서</h2>
      </div>
      <div class="product_list">
        <div class="list">
          <ul class="book">
            <li>
              <a href="">
                <div class="thumnail">
                  <div class="thumnial_wrapper">
                    <img src="" alt="">
                  </div>
                </div>
                <div class="text_box">
                  <a href="">아기별</a>
                  <h3><strong>20,000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="thumnail">
                  <div class="thumnial_wrapper">
                    <img src="" alt="">
                  </div>
                </div>
                <div class="text_box">
                  <a href="">아기별</a>
                  <h3><strong>20,000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="thumnail">
                  <div class="thumnial_wrapper">
                    <img src="" alt="">
                  </div>
                </div>
                <div class="text_box">
                  <a href="">아기별</a>
                  <h3><strong>20,000원</strong></h3>
                </div>
              </a>
            </li><li>
              <a href="">
                <div class="thumnail">
                  <div class="thumnial_wrapper">
                    <img src="" alt="">
                  </div>
                </div>
                <div class="text_box">
                  <a href="">아기별</a>
                  <h3><strong>20,000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="thumnail">
                  <div class="thumnial_wrapper">
                    <img src="" alt="">
                  </div>
                </div>
                <div class="text_box">
                  <a href="">아기별</a>
                  <h3><strong>20,000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="thumnail">
                  <div class="thumnial_wrapper">
                    <img src="" alt="">
                  </div>
                </div>
                <div class="text_box">
                  <a href="">아기별</a>
                  <h3><strong>20,000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="thumnail">
                  <div class="thumnial_wrapper">
                    <img src="" alt="">
                  </div>
                </div>
                <div class="text_box">
                  <a href="">아기별</a>
                  <h3><strong>20,000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="thumnail">
                  <div class="thumnial_wrapper">
                    <img src="" alt="">
                  </div>
                </div>
                <div class="text_box">
                  <a href="">아기별</a>
                  <h3><strong>20,000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="thumnail">
                  <div class="thumnial_wrapper">
                    <img src="" alt="">
                  </div>
                </div>
                <div class="text_box">
                  <a href="">아기별</a>
                  <h3><strong>20,000원</strong></h3>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="pagination">
          <a href="">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>