<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderland</title>

  <!--css-->
  <link rel="stylesheet" href="../header/header.css">

  <!--아이콘-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
    rel="stylesheet" />

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />


  <!-- javascript -->
  <script src="../header/header.js"></script>

</head>

<body>
  <div id="wrap">
    <header>
      <div class="header_top">
        <div class="top_nav">
          <ul>
            <li><a href="">회원가입</a></li>
            <li><a href="">로그인</a></li>
            <li><a href="">마이페이지</a></li>
            <li><a href="">장바구니</a></li>
          </ul>
        </div>
        <div class="logo">
          <h1><Strong>Wonderland</Strong></h1>
        </div>
      </div>

      <div class="gnb_wrap">
        <div class="inner">
          <nav>
            <ul id="gnb">
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">태교용 도서</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">놀이용 도서</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">어린이 동화</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">외국어 동화</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">과학 / IT</a>
              </li>
              <li class="sub-menu-parent" tab-index="1">
                <a class="w_3502" href="">미술 / 음악</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>

</body>

</html>